@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom right, #f7faff, #eef4fb);
  background-attachment: fixed;
}

.section-bg {
  background: linear-gradient(135deg, #ffffffdd, #f0f6ffdd);
  backdrop-filter: blur(12px);
}
